:root {
    --ptb:  5px;
    --height: 35px;
}

* {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}


.flex {
    display: flex;
}

.box-v {
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    display: flex;
    right: 0px;
    left: 0px;
    top: 0px;
    justify-content: center;
    width: auto;
    padding: 20px;
}

.playerName {
    display: flex;
    position: sticky;
    right: 0px;
    left: 0px;
    justify-content: center;
    width: auto;
    margin: 0 20px;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 0;
    top: var(--height);
    border-bottom: 1px solid white;
}

.btn-container {
    display: flex;
    bottom: 0px;
    right: 0px;
    left: 0px;
    justify-content: center;
    width: auto;
    gap: 20px;
    padding: 20px;
    background-color: cadetblue;
    position: fixed;
    gap: 0.5vw;
    z-index: 20;
}

.btn {
    height: 40px;
    width: 100px;
    padding: 0;
    border: 0;
    background-color: #477274;
    border-radius: 4px;
    color: white;
    box-shadow: 0 3px #2d494a;
    transition: none;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    background-color: #70b3b7;
}

.btn:active {
    box-shadow: none;
    top: 3px;
}

.btn-n {
    box-shadow: 0 5px #2d494a;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 15px; 
    height: 10vh; 
    font-weight: 1000; 
    font-size: 3vh;
}

.btn-n:hover {
    background-color: #a7e2e5;
}

.data {
    text-align: center;
}

.namex {
    width: auto;
    background-color: #5f9ea0;
    padding: var(--ptb) var(--ptb) 0px var(--ptb);
    border-radius: 5px 5px 0px 0px;
}

.name {
    width: auto;
    background-color: #5f9ea0;
    padding: var(--ptb) var(--ptb) 0px var(--ptb);
}

.score {
    width: auto;
    background-color: #5f9ea0;
    padding: var(--ptb);
    border-radius: 5px;
}

td {
    background-color: white;
    border-radius: 5px;
}

table, tr {
    gap: 5px;
}

table {
    height: fit-content;
    border-spacing: 4px;
}

a {
    text-decoration: none;
    color: #fff;
}

hr {
    width: 0;
}

.notif {
    background-color: #74bec1;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 10px #477274;
    position: fixed;
    display: none;
    z-index: 22;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly; 
    align-items: center;
    flex-direction: column; 
    font-weight: 1000; 
    font-family: Arial, Helvetica, sans-serif; 
    color:white;
    text-align: center;
}

.notif-bg {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(211, 211, 211, 0.5);
    z-index: 21;
    display: none;
}


.playerName {

}

.navigation {
    height: var(--height);
    background-color: white;
    width: 100%;
    z-index: 12;
    display: flex;
    position: fixed;
    text-wrap: nowrap;
}

.dataWrapper {
    align-items: center;
}

.dataGroup {
    margin: 0 20px;
    margin-top: var(--height);
    margin-bottom: 80px;
}

.flex-c {
    display: flex;
    flex-direction: column;
    
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.box-h {
    display: flex;
    background-color: orange;
    width: auto;
}

.home {
    height: var(--height);
    width: var(--height);
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab {
    border-radius: 0 10px 10px 0;
    box-shadow: 2px -2px 10px -2px black;
    position: absolute;
    font-weight: 1;
    font-size: 14px;
    left: -150px;
    transition: left 0.5s ease;
}

.new-tab {
    height: var(--height);
    width: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    z-index: -2;
    transition-delay: 0.2s;
}

.new-tab:hover {
    background-color: lightgray;
}

.new-tab:hover, .fa-plus:hover {
    cursor: pointer;
}

.default-tab {
    height: var(--height);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 0 15px;
    z-index: -1;
    transition-delay: 0.1s;
}

.default-tab:hover {
    background-color: lightgray;
    cursor: pointer;
}

.tabWrapper {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .not {
        top: 70%;
        left: 50%;
    }
}